*{
    margin:0;
    padding: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #000;
    color:#f1f1ff;
    font-size: 16px;
    font-family:'Poppins', monospace;
    font-weight: 500;
    animation: blur 0.5s ease-in;
}

@keyframes blur {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#loader{
    height: 100vh;
    width: 100%;
    background: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: black;
}

header{    
    width: 100%;
    background-color: rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(10px);
}

.container{
    padding: 10px 8.5%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}

nav .logo a{
    text-decoration: none;
    font-size: 24px;
    font-style: oblique;
    cursor: pointer;
    color: #f1f1ff;
    position: relative;
}

nav .logo a span{
    border-bottom: 2px solid #f1f1ff;
}

nav .logo a::after{
    content: '';
    width: 70%;
    height: 3px;
    border-bottom: 2px solid #f1f1f1;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: all 1s ease;
}

nav .logo a:hover{
    border-radius: 8px 8px;
    background-color: #0001;
    padding: 1px 8px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px 5px 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color:#656566;
    cursor: pointer;
    transition: all 1s ease;
}

nav ul li a:hover{
    border-radius: 8px 8px;
    background-color: #0001;
    padding: 8px 12px;
}

/*************Main Section*********/
main{
    animation: blur 10s linear;
    overflow: hidden;
}

aside ul li{
    list-style: none;
}

aside ul li a{
    text-decoration: none;
    cursor: pointer;
}

aside ul li a .socials{
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(95%) contrast(85%);
    background-clip: content-box;
    width: 30px;
    margin-bottom: 10px;
}

aside ul li a .linkedin{
    margin-bottom: 0;
}

main section .mini-container{
    width: 100%;
    text-align: right;
}

main section .centered-content{
    width: 100%;
    text-align: center;
}

main section .centered-content h1{
    font-size: clamp(1.5rem, 6vw + 1rem, 8rem);
}

main section .centered-content >p:first-child{
    transform: translateX(-10%);
    color: #656566;
}

main section .centered-content >p:last-child{
    transform: translateX(13%);
    color: #656566;
}

footer{
    display: none;
}

footer >p{    
    padding: 24px 0 0 0;
    text-align: center;
    color: #656566;
    animation: blur 8s ease-in;
}

@media screen and (max-width:720px) {
    main{
        white-space: pre-line;
    }

    main section .centered-content {
        line-height: 0.7;
    }

    aside{
        white-space: nowrap;
    }

    main section .mini-container .arrowUp{
        height: 130px;
        width: 50%;
        opacity: 0.2;
        transform: rotate(0deg);
        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(95%) contrast(85%);
    }

    footer{
        display: block;
    }
}

@media screen and (min-width: 721px) {
    main section .mini-container .arrowUp{
        height: 230px;
        width: 50%;
        opacity: 0.2;
        transform: rotate(20deg);
        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(95%) contrast(85%);
    }
}

@media screen and (max-width:405px){
    nav ul li {
        margin: 10px 10px 5px 10px;
    }
}

@media screen and (max-width:350px){
    nav ul li {
        margin: 10px 5px 5px 5px;
    }
}

/***************PROJECT PAGE CSS********************/
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 35px;
    overflow-y: hidden;
    animation: blur 0.5s ease;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    animation: blur 10s linear;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: #656566;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25 rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 340px;
    list-style: none;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    cursor:grab;
    width: 98%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .img {
    width: 85%;
    height: 250px;
}

.card .img img {
    width: 100%;
    height: 200px;
    object-fit:scale-down;
    border-radius: 90px;
}

.card h2 {
    font-weight: 500 !important;
    font-size: 1.56rem;
    text-align: center;
    margin: 30px 0 5px;
    color: #f1f1f1;
}

.card span {
    color: #656566;
    font-size: 1.31rem;
    text-align: center;
}

.card a {
    color: #656566;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;

    }
}

/**************CONTACT PAGE*****************/
/* Global Styles */
/* Main container */
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6.2% 8.5%;
    animation: blur 0.5s ease-in;
    box-sizing: border-box;
}

/* Contact Info */
.main .contact-info h1,
.main .contact-info h3 {
    text-align: center;
}

.main .contact-info p {
    text-align: center;
    font-size: 16px;
    color: #656566;
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 12px;
}

/* Form */
.main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.main form p {
    padding-bottom: 16px;
    font-size: 16px;
    color: #656566;
}

/* Input and Textarea */
input,
textarea {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    border-bottom: 1px solid #656566;
    margin-bottom: 24px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: 3px solid #656566;
}

/* Button */
button {
    background-color: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 20px;
    padding: 10px 18px;
    cursor: pointer;
    transition: border-color 1s ease;
}

button:hover {
    border-color: rgba(255, 255, 255, 0.3);
}

/* Responsive Design */
@media (max-width: 768px) {
    .main {
        padding: 4% 5%;
    }
    
    .main .contact-info p {
        font-size: 14px;
    }

    .main form h2 {
        font-size: 20px;
    }
    
    input,
    textarea {
        padding: 8px 12px;
    }
    
    button {
        padding: 8px 16px;
    }
}
